# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: floats and integers - immutable

Strings: single chracter and phrases - immutable

Lists: [a] collection of data types - mutable

Tuples: (a,) collection of data types- immutable

Dictionaries:{'key':a,} collection of data types - mutable

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [46]:
# Required Equations
print ((50 * 2) / 4)**(0.5) + 120 - 24.75

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [10]:
# Will display 0 because the decimal digits are truncated
print 2/3

# To solve it replace one integer with a float
print 2 / 3.0

0
0.666666666667

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [12]:
print 4 * (6 + 5)
print 4 * 6 + 5
print 4 + 6 * 5

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?

What would you use to find a numberâ€™s square root, as well as its square?

In [14]:
# Type of result is a float 
print 3 + 1.5 + 4

# To find square root or square use ** (operator)
print 2 ** 2
print 4 ** 0.5

8.5
4
2.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [15]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

Reverse the string 'hello' using indexing:

In [16]:
s ='hello'

# Reverse the string using indexing

# Code here
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [48]:
s ='hello'

# Print out the

# Code here
print s[4]
print s[-1]

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [49]:
l = [0,0,0]
l2 = [0,0] + [0]
print l
print l2

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [1]:
l = [1,2,[3,4,'hello']]
print l
l[2][2] = 'goodbye'
print l

[1, 2, [3, 4, 'hello']]
[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [14]:
l = [3,4,5,5,6]
l

[3, 4, 5, 5, 6]

In [12]:
l.sort()

In [18]:
l

[3, 4, 5, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [19]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [20]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [32]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [38]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not? No can't sort a dictionary beacuse it is indexed by keys

## Tuples

What is the major difference between tuples and lists?

tuple is immutable and a list is mutable

How do you create a tuple?

(1,) for instance a a single tuple

## Sets

What is unique about a set?

contains only unique elements

Use a set to find the unique values of the list below:

In [39]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [40]:
# Answer before running cell
2 > 3

False

In [41]:
# Answer before running cell
3 <= 2

False

In [42]:
# Answer before running cell
3 == 2.0

False

In [43]:
# Answer before running cell
3.0 == 3

True

In [44]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [45]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!